In [5]:
#Ans 1

list1 = [("Sachin Tendulkar", 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

list1.sort(key=lambda x:x[1])

for i in list1:
    print (i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [9]:
#Ans 2

l1 = [1,2,3,4,5,6,7,8,9,10]

l2 = map(lambda x: x**2, l1)
print(list(l2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
#Ans 3
l1 = [1,2,3,4,5,6,7,8,9,10]

l2 = map(lambda x: str(x), l1)
print(list(l2))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [17]:
#Ans 4
from functools import reduce
l1 = list(range(1,26))

l2 = reduce(lambda x,y:x*y,l1)
print(l2)

15511210043330985984000000

In [23]:
#Ans 5

l1 = (2,3,6,9,27,60,90,120,55,46)
l2 = filter(lambda x: x if x%2==0 and x%3==0 else None, l1)     #for divisble by 2 and 3
l3 = filter(lambda x: x if x%2==0 or x%3==0 else None, l1)      # for divisble by either 2 or 3
print(list(l2))
print(list(l3))

[6, 60, 90, 120]
[2, 3, 6, 9, 27, 60, 90, 120, 46]

In [26]:
#Ans 6

l1 = ['python', 'php', 'aba', 'radar', 'level']

l2 = filter(lambda i: i if i==i[::-1] else None, l1)
print(list(l2))

['php', 'aba', 'radar', 'level']