Ans1
MongoDB is an open-source NoSQL database system that stores data in a flexible, document-oriented format called BSON (Binary JSON). It provides high performance, scalability, and flexibility for handling large volumes of unstructured or semi-structured data.
Non-relational databases, also known as NoSQL databases, are database management systems that deviate from the traditional relational model of SQL databases. They focus on scalability, flexibility, and performance by offering features such as flexible schema design, horizontal scalability, high performance, support for diverse data types, and distributed architectures.
MongoDB is preferred over SQL databases in scenarios involving large-scale data and high throughput, agile development and rapid prototyping, unstructured or semi-structured data, real-time analytics and personalization, and cloud-native and microservices architecture. The choice between MongoDB and SQL databases depends on specific project requirements, data characteristics, and the need for transactions, data consistency, and complex querying.

Ans2
Document-oriented: MongoDB stores data in flexible, self-describing JSON-like documents called BSON. Documents can have varying structures, allowing for easy schema evolution and dynamic data modeling.

Scalability: MongoDB offers horizontal scalability by distributing data across multiple servers or clusters. It supports automatic sharding and provides built-in replication for high availability and fault tolerance.

High Performance: MongoDB is designed for high-performance data access. It utilizes in-memory computing, indexing, and various caching strategies to deliver fast read and write operations, enabling real-time applications.

Flexible Data Model: MongoDB's flexible schema allows for dynamic and polymorphic data structures. It accommodates changes in data requirements and supports nested documents, arrays, and key-value pairs within documents.

Querying and Indexing: MongoDB supports rich and expressive queries, including ad-hoc queries, range queries, and full-text search. It provides indexing capabilities to optimize query performance.

Cloud-Native and DevOps Friendly: MongoDB is designed for cloud environments and works well with containerization, microservices, and modern DevOps practices. It offers cloud-specific features and managed database services.

In [1]:
#Ans 3

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://prathamgoyal822:v14LsVftpQ1jOE5k@cluster0.k5eimyn.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)
    
db = client['Database1']
coll_Database1 = db['my_record']

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
#Ans 4

data1 = {'class':'Data science',
         'time':'anytime',
         'place':'Delhi'}

coll_Database1.insert_one(data1)

data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

coll_Database1.insert_many(data2)

In [3]:
coll_Database1.find_one()

{'_id': ObjectId('64a3ee1c87aa09bf2ccd8ec7'),
 'name': 'Pratham',
 'Phone': 98701,
 'mail': 'anytime'}

In [4]:
coll_Database1.find()              #will give all entries but need to apply loop to print

for i in coll_Database1.find():
    print(i)

{'_id': ObjectId('64a3ee1c87aa09bf2ccd8ec7'), 'name': 'Pratham', 'Phone': 98701, 'mail': 'anytime'}
{'_id': ObjectId('64a3efa587aa09bf2ccd8ec8'), 'class': 'Data science', 'time': 'anytime', 'place': 'Delhi'}
{'_id': ObjectId('64a3f30087aa09bf2ccd8ee1'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': ObjectId('64a441cb73afcb3281094fc3'), 'class': 'Data science', 'time': 'anytime', 'place': 'Delhi'}
{'_id': ObjectId('64a441cc73afcb3281094fc4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a441cc73afcb3281094fc5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a441cc73afcb3281094fc6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a441cc73afcb3281094fc7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a441cc73afcb3281094fc8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a441cc73afcb3281094fc9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a441cc73afcb3281094fca'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a441cc73afcb3281094fcb'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a441cc73afcb3281094fcc'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a441cc73afcb3281094fcd'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a441cc73afcb3281094fce'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a441cc73afcb3281094fcf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a4433ab627c3de94b40c46'), 'class': 'Data science', 'time': 'anytime', 'place': 'Delhi'}
{'_id': ObjectId('64a4433ab627c3de94b40c47'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a4433ab627c3de94b40c48'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a4433ab627c3de94b40c49'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a4433ab627c3de94b40c4a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a4433ab627c3de94b40c4b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a4433ab627c3de94b40c4c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a4433ab627c3de94b40c4d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a4433ab627c3de94b40c4e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a4433ab627c3de94b40c4f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a4433ab627c3de94b40c50'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a4433ab627c3de94b40c51'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a4433ab627c3de94b40c52'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [5]:
#Ans 5

for i in coll_Database1.find({'name': 'Amy'}):      #to find specific entry
    print(i)

{'_id': ObjectId('64a441cc73afcb3281094fc4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a4433ab627c3de94b40c47'), 'name': 'Amy', 'address': 'Apple st 652'}

Ans 6
The sort() method in MongoDB is used to sort the documents in a collection based on specified sorting criteria. It allows you to order the results based on one or more fields in ascending or descending order.

In [29]:
results = coll_Database1.find().sort("name",1)    #1 for ascending, -1 for descending

for result in results:
    print(result)

{'_id': ObjectId('64a3efa587aa09bf2ccd8ec8'), 'class': 'Data science', 'time': 'anytime', 'place': 'Delhi'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': ObjectId('64a441cb73afcb3281094fc3'), 'class': 'Data science', 'time': 'anytime', 'place': 'Delhi'}
{'_id': ObjectId('64a4433ab627c3de94b40c46'), 'class': 'Data science', 'time': 'anytime', 'place': 'Delhi'}
{'_id': ObjectId('64a441cc73afcb3281094fc4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a4433ab627c3de94b40c47'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a441cc73afcb3281094fcc'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a4433ab627c3de94b40c4f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a441cc73afcb3281094fc8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a4433ab627c3de94b40c4b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a441cc73afcb3281094fce'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a4433ab627c3de94b40c51'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a441cc73afcb3281094fc5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a4433ab627c3de94b40c48'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a441cc73afcb3281094fc6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a4433ab627c3de94b40c49'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a3ee1c87aa09bf2ccd8ec7'), 'name': 'Pratham', 'Phone': 98701, 'mail': 'anytime'}
{'_id': ObjectId('64a441cc73afcb3281094fc9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a4433ab627c3de94b40c4c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a441cc73afcb3281094fc7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a4433ab627c3de94b40c4a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a441cc73afcb3281094fca'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a4433ab627c3de94b40c4d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a441cc73afcb3281094fcb'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a4433ab627c3de94b40c4e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a441cc73afcb3281094fcf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a4433ab627c3de94b40c52'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a441cc73afcb3281094fcd'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a4433ab627c3de94b40c50'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a3f30087aa09bf2ccd8ee1'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

Ans 7
delete_one() method:
The delete_one() method is used to delete a single document that matches a specified filter. It removes the first document that matches the filter criteria from the collection. If multiple documents match the filter, only the first one encountered will be deleted.

delete_many() method:
The delete_many() method is used to delete multiple documents that match a specified filter. It removes all the documents that match the filter criteria from the collection.

drop() method:
The drop() method is used to remove an entire collection from the database. It deletes the entire collection, including all documents and indexes associated with it. This operation is irreversible.