In [1]:
#Ans 1
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Ans 2
data1 = [2, 3.4, True, 1+2j, [1,5], {'class':'data'}, (5,7), "Pra", 99, 100]
series1 = pd.Series(data1)

print(series1)

0                    2
1                  3.4
2                 True
3               (1+2j)
4               [1, 5]
5    {'class': 'data'}
6               (5, 7)
7                  Pra
8                   99
9                  100
dtype: object

In [5]:
#Ans 3

tabledata = {'Name':['Alice','Bob','Claire'],
         'Age':[25,30,27],
         'Gender':['Female', 'Male', 'Female']
        }
table = pd.DataFrame(tabledata)
print(table)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Ans 4
In Pandas, a DataFrame is a 2-dimensional labeled data structure that represents a tabular data object with rows and columns. It is similar to a table in a relational database or a spreadsheet in Excel. A DataFrame can contain data of different types (e.g., numbers, strings, dates) and allows for flexible indexing and manipulation of the data.

On the other hand, a Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a DataFrame or a single column from a spreadsheet. A Series has a single column of data and an associated index. It is often used to represent a single variable or feature.

In [6]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Create a Series
ages = pd.Series([25, 30, 27], name='Age')
print("Series:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

Ans 5
head()
tail()
info()
describe()
shape
unique()
value_counts()
sort_values()
groupby()
fillna()
apply()

Ans 6
the DataFrame is the mutable object, meaning it can be modified after creation. The Series and Panel objects, on the other hand, are immutable, which means they cannot be modified once created.

In [15]:
#Ans 7

countries = pd.Series(['USA', 'Canada', 'Germany'])
populations = pd.Series([331002651, 37742154, 83149300])
capitals = pd.Series(['Washington D.C.', 'Ottawa', 'Berlin'])

data = {'Country': countries, 'Population': populations, 'Capital': capitals}
df = pd.DataFrame(data)

print(df)

   Country  Population          Capital
0      USA   331002651  Washington D.C.
1   Canada    37742154           Ottawa
2  Germany    83149300           Berlin